$white-hero-icon-colour: #fdfdfd;

.hero {
  background-color: $base-background-color;

  &__title {
    font-size: 2.7em;
  }

  &__link {
    font-size: 1.7em;
  }

  &__flex-wrapper {

    @media (min-width: 1000px) {
      display: flex;
    }
  }

  &__flex-right {

    @media (min-width: 1300px) {
      padding-top: 3em;
    }
  }

  &__flex-left {
    display: none;

    @media (min-width: 1000px) {
      align-content: flex-end;
      display: block;
      padding-right: 3em;
    }

    @media (min-width: 1300px) {
      padding-left: 6em;
    }
  }
}

.devicon-ruby-plain {
  bottom: 0;
  color: $white-hero-icon-colour;
  font-size: 20em;
  position: relative;
  right: 0;
}
