@import 'bourbon';
@import 'neat';
@import 'base/base';
@import '_hero';

body{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color: #fdfdfd;
}

.section {
  min-height: 100%;
  padding-bottom: 5%;

}
.content {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
}

.container {
  @include outer-container(80%);

  padding: 2em;
  flex: 1;
}
