@import 'bourbon';
@import 'neat';
@import 'base/base';
@import './refills/type_systems';
@import '_hero';

body{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color: #fdfdfd;
}

.section {
  min-height: 100%;
  padding-bottom: 5%;

}
.content {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
}

.container {
  @include outer-container(80%);

  padding: 2em;
  flex: 1;
}

article.h-entry {
  @extend article.type-system-sans;

  ul {
    @extend p;
    list-style-type:     disc;
    list-style-position: inside;

    ul {
      padding-left: 1em;
      margin-bottom: 0;
      list-style-type: circle;
    }
  }
}

.hero .h-card {
  color: #fff;
  h1 {
    font-size: 2.0em;
    margin: 0;
    @include media($medium-screen) {
      font-size: 4em;
    }
  }
  p  {
    color: #fff;
    font-size: 1.7em;
    margin: 0;
  }
  a.follow {
    @extend button;
    font-size:  1.7em;
    padding:    20px 40px;
    margin-top: 10px;
  }
}
