= wrap_layout :bare do
  %header
    %ul
      %li= link_to 'Home', '/'
      %li
        %a(href='http://github.com/kwruby' rel='me')
          %i.icon-github
      %li
        %a(href='https://twitter.com/kwrubydev' rel='me')
          %i.icon-twitter
    %ul.local

    %h3.text-muted KW Ruby Developers

  = yield

  %footer
    .copyright
      %a(rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US")
        %img(alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png")
      %br
      This work is licensed under a
      %a(rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US") Creative Commons Attribution-ShareAlike 3.0 Unported License
