.hero {
  $large-screen: 50em !default;
  align-items: center;
  // background-color: rgb(249,183,185);
  background-position: right;
  background-size: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 25em;
  padding: 2em;

  h1, h2, h3, h4, h5
  {
    color: #fff;
  }

  a {
    color: darken(rgb(160, 40, 40), 15%);
    transition: color .3s linear;
    &:hover {
      color: darken(rgb(160, 40, 40), 25%);
    }
  }

  input {
    background-color: darken(rgb(160, 40, 40), 15%);
    transition: background-color .3s linear;

    &:hover {
      background-color: darken(rgb(160, 40, 40), 25%);
    }
  }

  @include media($large-screen) {
    background-position: left;
    background-size: cover;
    justify-content: center;
  }

  .hero-content {
    max-width: 40em;
    justify-content: center;
    text-align: center;

    @include media($large-screen) {
      text-align: center;
    }
  }

  .hero-logo {
    margin: auto;
  }
}

