%footer.container.text-center.py-5
  .row.mb-3
    .col
      %ul.nav.justify-content-center
        %a.nav-link(href='https://github.com/kwruby' rel='me') GitHub
        %a.nav-link(href='https://twitter.com/kwrubydev' rel='me') Twitter
        %a.nav-link(href='https://www.linkedin.com/groups/8311601' rel='me') LinkedIn
  .row
    .col-3.text-right
      %a(rel='license' href='https://creativecommons.org/licenses/by-sa/3.0/deed.en_US')
        %img(alt='Creative Commons License' style='border-width:0' src='https://i.creativecommons.org/l/by-sa/3.0/88x31.png')
    .col.text-left
      %p
        This work is licensed under a
        %a(rel='license' href='https://creativecommons.org/licenses/by-sa/3.0/deed.en_US') Creative Commons Attribution-ShareAlike 3.0 Unported License
