%nav.navbar.navbar-expand-lg.navbar-dark
  .container
    %a.navbar-brand.url(href='/')
      KWRuby.ca
    %button.navbar-toggler{"aria-controls" => "kwrubyMenu", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#kwrubyMenu", "data-toggle" => "collapse", type:  "button"}
      %span.navbar-toggler-icon
    #kwrubyMenu.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          = nav_link 'Wiki', '/wiki', class: "nav-link", active_if: %r{wiki/$}
        %li.nav-item
          = nav_link 'Local Rubyists', '/wiki/rubyists_in_waterloo', class: "nav-link", active_if: %r{rubyists_in_waterloo}
        %li.nav-item
          = nav_link 'Local Companies using Ruby', '/wiki/companies_using_ruby_in_waterloo', class: "nav-link", active_if: %r{companies_using_ruby_in_waterloo}
        %li.nav-item
          = nav_link 'Code of Conduct', '/wiki/code_of_conduct', class: "nav-link", active_if: %r{code_of_conduct}
