---
title: KW Ruby Developers
---

%section.masthead
  %h1 KW Ruby Developers
  %p.lead
    dedicated to learning and sharing about Ruby. (and frequently Rails)

  =link_to 'Join us for the next meeting', 'http://www.meetup.com/kw-ruby-on-rails/', :class => 'sign-up'

%section.marketing
  .column
    %p
      All skill levels are welcome.
    %p
      We meet once a month for a workshop, training session, or discussion.
  .column
    %h4 Around the Web
    %ul.content
      %li
        %a(href='http://twitter.com/kwrubydev')
          %i.icon-twitter
          Twitter
      %li
        %a(href='http://github.com/kwrubydev')
          %i.icon-github
          Github
