---
title: KW Ruby Developers
---

%section.hero
  .side-image
    .side-image-content
      .flex-wrapper
        .flex-left
          %i.devicon-ruby-plain
        .flex-right
          %h1.hero__title
            Dedicated to learning and sharing about <a href="http://ruby-lang.org">Ruby</a>
          %h2#skill
            All skill levels are welcome.
          %h3
            We meet once a month for a workshop, training session, or discussion.
          %form(action="http://www.meetup.com/kw-ruby-on-rails/")
            %input{type: "submit", value: "Join us!", class: "hero__link"}

%section.container
  %ul.bullets
    %li.bullet
      .bullet-icon.bullet-icon-1
        %img(src="http://photos2.meetupstatic.com/photos/event/4/2/6/highres_147421062.jpeg")
      .bullet-content
        %h2 Join us on MeetUp
        %p
          =link_to 'KW Ruby Meetup', 'http://www.meetup.com/kw-ruby-on-rails/', :class => 'sign-up'

    %li.bullet
      .bullet-icon.bullet-icon-3
      .bullet-content
        %h2 Our Wiki
        %p
          %a(href='/wiki'){id: 'wiki-link'}
            Wiki
