---
title: KW Ruby Developers
---

%section.masthead
  %h1 KW Ruby Developers
  %p.lead
    dedicated to learning and sharing about <a href="http://ruby-lang.org">Ruby</a>.
    %br
    (and frequently <a href="http://rubyonrails.org">Rails</a>)

  =link_to 'Join us for the next meeting', 'http://www.meetup.com/kw-ruby-on-rails/', :class => 'sign-up'

%section.marketing
  .column
    %p
      All skill levels are welcome.
    %p
      We meet once a month for a workshop, training session, or discussion.
  .column
    %h4 Around the Web
    %ul.content
      %li
        %a(href='http://github.com/kwruby' rel='me')
          %i.icon-github
          Github
      %li
        %a(href='http://twitter.com/kwrubydev' rel='me')
          %i.icon-twitter
          Twitter
      %li
        %a(href='https://www.linkedin.com/groups?home=&gid=8311601' rel='me')
          %i.icon-linkedin
          Linkedin


