---
title: KW Ruby Developers
---

%section.hero.text-white.py-md-4
  .container-fluid
    .row.py-5
      .col-4.d-none.d-md-block
        .hero__icon
          = svg "ruby"
      .col
        %h1.hero__title.pb-3
          Dedicated to learning and sharing about <a href="http://ruby-lang.org">Ruby</a>
        %p
          All skill levels are welcome.
        %p.pb-1
          We meet once a month for a workshop, training session, or discussion.
        = link_to "Join us!", "https://www.meetup.com/kw-ruby-on-rails/", class: "btn hero__link"

%section.container
  %ul.bullets
    %li.bullet
      .bullet-icon.bullet-icon-1
        %img(src='http://photos2.meetupstatic.com/photos/event/4/2/6/highres_147421062.jpeg')
      .bullet-content
        %h2 Join us on MeetUp
        %p
          =link_to 'KW Ruby Meetup', 'http://www.meetup.com/kw-ruby-on-rails/', :class => 'sign-up'

    %li.bullet
      .bullet-icon.bullet-icon-3
      .bullet-content
        %h2 Our Wiki
        %p
          %a(href='/wiki'){id: 'wiki-link'}
            Wiki
