---
title: KW Ruby Developers
---

%section.hero
  .side-image
    .side-image-content
      .hero__flex-wrapper
        .hero__flex-left
          %i.devicon-ruby-plain
        .hero__flex-right
          .h-card
            %h1 KWRuby
            .p-note
              %p
                is a once a month Ruby workshop, training session, or discussion in
                %span.p-adr
                  %span.p-locality Kitchener-Waterloo.
              %p All skill levels are welcome.
            =link_to 'Join us!', 'http://www.meetup.com/kw-ruby-on-rails/', class: 'u-url follow'

%section.container
  %ul.bullets
    %li.bullet
      .bullet-icon.bullet-icon-1
        %img(src='http://photos2.meetupstatic.com/photos/event/4/2/6/highres_147421062.jpeg')
      .bullet-content
        %h2 Join us on MeetUp
        %p
          =link_to 'KW Ruby Meetup', 'http://www.meetup.com/kw-ruby-on-rails/', :class => 'sign-up'

    %li.bullet
      .bullet-icon.bullet-icon-3
      .bullet-content
        %h2 Our Wiki
        %p
          %a(href='/wiki'){id: 'wiki-link'}
            Wiki
